<p id="notice"><%= notice %></p>

<div class="container users">

  <div class="row">
    <div class="col-lg-4">
      <h1>
        <%= gravatar_for @user %>
      </h1>
  </div>

    <div class="col-lg-4">
      <p>
        <strong>Username:</strong>
        <%= @user.username %>
      </p>

      <p>
        <strong>First name:</strong>
        <%= @user.first_name %>
      </p>

      <p>
        <strong>Last name:</strong>
        <%= @user.last_name %>
      </p>

      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
  </div>
<%= will_paginate %>

  <div class="col-lg-4">
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>

</div>